<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="playa">
      <ion-icon name="partly-sunny-outline"></ion-icon>
      <ion-label>Playas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parque">
      <ion-icon name="trail-sign-outline"></ion-icon>
      <ion-label>Parques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rio">
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>Rios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-us">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Acerca de</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>