<ion-header>
  <ion-toolbar>
    <ion-title>playa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://picsum.photos/200/300/?blur=2" />
    </ion-thumbnail>
    <ion-label>
      Bocana
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://picsum.photos/200/300/?blur=10" />
    </ion-thumbnail>
    <ion-label>
      Juan chaco y ladrilleros
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://picsum.photos/200/300/?blur=4" />
    </ion-thumbnail>
    <ion-label>
      La Barra
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://picsum.photos/200/300/?blur=1" />
    </ion-thumbnail>
    <ion-label>
      Maguipi
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://picsum.photos/200/300/?blur=8" />
    </ion-thumbnail>
    <ion-label>
      Playa blanca
    </ion-label>
  </ion-item>
</ion-content>
